/* body {
  background-color: springgreen;
} */
* {
  font-family: "Helvetica";
}

body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: black;
  color: snow;
  padding: 20px;
}

main {
  margin: 25px;
}

section {
  border: 1px solid grey;
  margin: 25px;
  padding: 20px;
}

hr {
  border: 1px solid grey;
}

h2 {
  margin-top: 1px;
}

ul {
  color: snow;
}

a {
  color: blue;
}

li {
  display: inline;
  padding: 20px;
}

footer {
  text-align: center;
}

footer nav {
  text-align: center;
}

nav a {
  text-decoration: none;
}

main button {
  background-color: blue;
  color: white;
}

a:hover {
  background-color: gold;
  text-decoration: none;
}

button:hover {
  border: 2px solid black;
}
